h1{
    text-align: center;
}

.feature-icon {
    width: 4rem;
    height: 4rem;
    border-radius: .75rem;
}
ul {
  list-style-type: none;
}
.containers{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
*{
    font-family:  Helvetica,  sans-serif;
}

table {
    border-collapse: collapse;
    margin: auto;
  }
  td {
    width: 40px;
    height: 40px;
    border: 1px solid #ddd;
    text-align: center;
    transition: background-color 0.3s;
  }
  .highlight {
    background-color: #000;
    color: #fff;
  }
  .knapsack-table td {
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  